$font-regular: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
$font-demi: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
$font-bold: url(../assets/fonts/AvenirNextLTPro-Bold.otf);

// primary colors
$bandSite-Black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
// secondary colors
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$regular-weight: 400;
$demi-weight: 600;
$bold-weight: 700;