@use './partials/_variables.scss' as *;
@use './partials/fonts' as *;
@use './partials/_mixins.scss' as *;

body{
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background-color: $bandsite-black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
     
    @include tablet {
        justify-content: flex-start;
        padding-top: 0%;
    }

    .nav__a {
        font-family: 'avenir-regular';
        font-size: 14px;
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing:border-box;
        padding: 0.5rem 1rem;
        width: 50vw;

        @include tablet {
            padding: 1.5rem 2rem;
            width: 10rem;
        }

        &--active{
            border-bottom: 2px solid $white;
            font-family: 'avenir-demi';

            @include tablet {
                width: 5rem;
            }

            @include desktop {
                width: 5rem;
            }
        }
    }

    .nav__logo{
        font-size: 24px;
        padding: 1rem 6rem;
        width: 100vw;
        max-height: 20px;
        align-self: center;

        @include tablet {
            max-width: 120px;
        }

        @include desktop{
            margin-left: 2.5em;
            padding: 2.5rem 6rem;
        }
    }

    
}

.hero-img{
    object-fit:cover;
    height: 60vw;
    max-height: 650px;
    width: 100%;
    object-position: 50% 50%;
    position: absolute;
    z-index: -1;
}

.hero{
    height: 60vw;
    max-height: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    background-color: rgb($bandsite-black,0.5);

    @include tablet {
        padding: 0 36px;
    }

    @include desktop{
        padding: 0 105px;
    }

    h2{
        color: $white;
        font-family: 'avenir-demi';
        padding-top: 24px;
        padding-bottom: 16px;
        font-size: 6.5vw;

        @include tablet{
            font-size: 7vw;
            padding-top: 48px;
            padding-bottom: 36px;
        }

        @include desktop{
            font-size: 5vw;
        }
    }
}

main{
    padding: 0 16px;
    font-family: 'avenir-demi';
    color: $bandsite-black;

    @include tablet {
        padding: 0 36px;
    }

    @include desktop{
        padding: 0 105px;
    }

    h2{
        font-size: 6.5vw;
        @include tablet{
            font-size: 4.5vw;
        }

        @include tablet{
            font-size: 3.5vw;
        }
    }

    img{
        width: 100%;
        height: 50vw;
        box-sizing: border-box;

        @include tablet {
            padding: 0 48px;
            height: 40vw;
        }

        @include desktop {
            padding: 0 105px;
            height: 37vw;
        }
    }

    h3{
        font-family: 'avenir-regular';
        font-size: 14px;
        color: $bandsite-darkblack;

        @include tablet {
            padding: 0 48px;
            padding-top: 36px;
            font-family: 'avenir-demi';
            font-size: 24px;
            margin-bottom: 0.5rem;
        }

        @include desktop {
            padding: 30px 0 5px 105px;
        }
    }

    .main__bio{
        font-family: 'avenir-regular';
        font-size: 13px;
        padding-bottom: 16px;
        line-height: 18px;

        @include tablet {
            width: 48%;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 20px;
        }
        @include desktop {
            width: 48%;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .main__bio-part-one{
        @include tablet{
            margin-right: 24px;
        }
        @include desktop{
            margin-right: 24px;
        }
        
    }

    .main__bio-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include tablet {
            padding: 0 48px;
        }
        @include desktop {
            padding: 0 105px;
        }
    }

    .main__quote{
        font-size: 13px;
        font-family: 'avenir-demi';
        line-height: 22px;

        @include tablet {
            padding: 0 48px;
            box-sizing: border-box;
            font-size: 23px;
            line-height: 30px;
            font-family: 'avenir-demi';
            margin-bottom: 1rem;
        }

        @include desktop {
            padding: 0 105px;
            max-width: 70vw;
        }
    }

    .main__quote-author{
        font-size: 13px;
        font-family: 'avenir-demi';
        padding-bottom: 16px;

        @include tablet {
            padding: 0 48px;
            box-sizing: border-box;
            font-size: 16px;
            font-family: 'avenir-demi';
            margin-top: 0;
        }

        @include desktop {
            padding: 0 105px;
        }
    }

}

.gallery{
    padding: 0 16px;
    background-color: lighten($mercury,5%);
    font-family: 'avenir-demi';
    color: $bandsite-black;

    @include tablet {
        padding: 0 36px;
    }

    h2{
        padding-top: 24px;
        font-size: 6.5vw;

        @include tablet{
            font-size: 4.5vw;
        }

        @include desktop{
            padding-top: 40px;
            padding-left: 105px;
            font-size: 3.5vw;
            margin-top: 0;
        }
    }

    img{
        width: 100%;
        padding-bottom:16px;

        @include tablet {
            width: 27vw;
            padding-right: 24px;
            padding-bottom: 24px;
        }
    }

    &__img-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

footer {
    padding: 0 16px;
    font-family: 'avenir-regular';
    color: $white;
    background-color: $bandsite-black;

    @include tablet {
        padding: 0 36px;
    }

    @include desktop {
        padding: 0 105px 5px 105px;
    }

    .footer__top-align{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__top-container{
        @include tablet{
            display: flex;
            justify-content:flex-start;
            align-items: center;
        }   
    }

    h2 {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-top: 24px;
        padding-right: 24px;
        font-size: 2rem;
    }

    img {
        width:2rem;
        height:2rem;
        padding-right: 16px;
        padding-bottom: 10px;

        @include tablet{
            width:1.5rem;
            height:1.5rem;
        }
    }

    .footer__svg-container{
        @include tablet {
            padding-top: 2rem;
        }
    }

    p{
        font-size: 13px;
        padding-bottom: 10px;
    }

    .footer__bold-text{
        font-family: 'avenir-demi';
    }

    .footer__copyright{
        font-size: 12px;
        padding-bottom: 24px;
    }

    .footer__logo{
        font-size: 1.7rem;
        font-weight: 200;
        color: $white;

        @include tablet {
            visibility: hidden;
            height: 0;
        }
        @include desktop {
            height: 0;
            visibility: hidden;
        }
    }

    .footer__second-logo{
        font-size: 2rem;
        font-weight: 200;
        color: $white;
        visibility: hidden;
        width: 0;

        @include tablet {
            visibility: visible;
            width: 100%;
            font-size: 1.5rem;
        }
        @include desktop {
            visibility: visible;
        }
    }

    .footer__info-container{
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-top: 0.5rem;
        }

        div{
            @include tablet{
                padding-right: 5vw;
            }
            padding-right: 6em;
        }
    }

}
