@font-face {
  font-family: "avenir-regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1%;
}
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
    padding-top: 0%;
  }
}
nav .nav__a {
  font-family: "avenir-regular";
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 50vw;
}
@media screen and (min-width: 768px) {
  nav .nav__a {
    padding: 1.5rem 2rem;
    width: 10rem;
  }
}
nav .nav__a--active {
  border-bottom: 2px solid #FFFFFF;
  font-family: "avenir-demi";
}
@media screen and (min-width: 768px) {
  nav .nav__a--active {
    width: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  nav .nav__a--active {
    width: 5rem;
  }
}
nav .nav__logo {
  font-size: 24px;
  padding: 1rem 6rem;
  width: 100vw;
  max-height: 20px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  nav .nav__logo {
    max-width: 120px;
  }
}
@media screen and (min-width: 1280px) {
  nav .nav__logo {
    margin-left: 2.5em;
    padding: 2.5rem 6rem;
  }
}

.hero-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vw;
  max-height: 650px;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: absolute;
  z-index: -1;
}

.hero {
  height: 60vw;
  max-height: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(50, 50, 50, 0.5);
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 105px;
  }
}
.hero h2 {
  color: #FFFFFF;
  font-family: "avenir-demi";
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 6.5vw;
}
@media screen and (min-width: 768px) {
  .hero h2 {
    font-size: 7vw;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero h2 {
    font-size: 5vw;
  }
}

main {
  padding: 0 16px;
  font-family: "avenir-demi";
  color: #323232;
}
@media screen and (min-width: 768px) {
  main {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  main {
    padding: 0 105px;
  }
}
main h2 {
  font-size: 6.5vw;
}
@media screen and (min-width: 768px) {
  main h2 {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 768px) {
  main h2 {
    font-size: 3.5vw;
  }
}
main img {
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  main img {
    padding: 0 48px;
    height: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  main img {
    padding: 0 105px;
    height: 37vw;
  }
}
main h3 {
  font-family: "avenir-regular";
  font-size: 14px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  main h3 {
    padding: 0 48px;
    padding-top: 36px;
    font-family: "avenir-demi";
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  main h3 {
    padding: 30px 0 5px 105px;
  }
}
main .main__bio {
  font-family: "avenir-regular";
  font-size: 13px;
  padding-bottom: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  main .main__bio {
    width: 48%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  main .main__bio {
    width: 48%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 768px) {
  main .main__bio-part-one {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  main .main__bio-part-one {
    margin-right: 24px;
  }
}
main .main__bio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  main .main__bio-container {
    padding: 0 48px;
  }
}
@media screen and (min-width: 1280px) {
  main .main__bio-container {
    padding: 0 105px;
  }
}
main .main__quote {
  font-size: 13px;
  font-family: "avenir-demi";
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  main .main__quote {
    padding: 0 48px;
    box-sizing: border-box;
    font-size: 23px;
    line-height: 30px;
    font-family: "avenir-demi";
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  main .main__quote {
    padding: 0 105px;
    max-width: 70vw;
  }
}
main .main__quote-author {
  font-size: 13px;
  font-family: "avenir-demi";
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  main .main__quote-author {
    padding: 0 48px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "avenir-demi";
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  main .main__quote-author {
    padding: 0 105px;
  }
}

.gallery {
  padding: 0 16px;
  background-color: #eeeeee;
  font-family: "avenir-demi";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 36px;
  }
}
.gallery h2 {
  padding-top: 24px;
  font-size: 6.5vw;
}
@media screen and (min-width: 768px) {
  .gallery h2 {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 1280px) {
  .gallery h2 {
    padding-top: 40px;
    padding-left: 105px;
    font-size: 3.5vw;
    margin-top: 0;
  }
}
.gallery img {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery img {
    width: 27vw;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}
.gallery__img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  padding: 0 16px;
  font-family: "avenir-regular";
  color: #FFFFFF;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 0 105px 5px 105px;
  }
}
footer .footer__top-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  footer .footer__top-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
footer h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 24px;
  padding-right: 24px;
  font-size: 2rem;
}
footer img {
  width: 2rem;
  height: 2rem;
  padding-right: 16px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  footer .footer__svg-container {
    padding-top: 2rem;
  }
}
footer p {
  font-size: 13px;
  padding-bottom: 10px;
}
footer .footer__bold-text {
  font-family: "avenir-demi";
}
footer .footer__copyright {
  font-size: 12px;
  padding-bottom: 24px;
}
footer .footer__logo {
  font-size: 1.7rem;
  font-weight: 200;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    visibility: hidden;
    height: 0;
  }
}
@media screen and (min-width: 1280px) {
  footer .footer__logo {
    height: 0;
    visibility: hidden;
  }
}
footer .footer__second-logo {
  font-size: 2rem;
  font-weight: 200;
  color: #FFFFFF;
  visibility: hidden;
  width: 0;
}
@media screen and (min-width: 768px) {
  footer .footer__second-logo {
    visibility: visible;
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  footer .footer__second-logo {
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
  footer .footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5rem;
  }
}
footer .footer__info-container div {
  padding-right: 6em;
}
@media screen and (min-width: 768px) {
  footer .footer__info-container div {
    padding-right: 5vw;
  }
}/*# sourceMappingURL=bio.css.map */