@use './partials/colors';
@use './partials/typefaces';

body{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: colors.$bandsite-black;

    @media (max-width:767px){
        .nav__a{
            font-family: 'regular';
            font-size: 14px;
            color: colors.$white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            width: 50%;
            box-sizing:border-box;

            &--active{
                border-bottom: 2px solid colors.$white;
                font-family: 'demi';
            }
        }

        .logo{
            font-size: 24px;
            width:100%;
        }
    }  

}

.hero-img{
    object-fit:cover;
    height: 15rem;
    min-width: 15rem;
    width: 100%;
    object-position: center center;
    position: absolute;
    z-index: -1;
}
.hero{
    height: 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    background-color: rgb(colors.$bandsite-black,0.5);

    h2{
        color: colors.$white;
        font-family: 'demi';
        padding-top: 24px;
        padding-bottom: 16px;
    }
}

main{
    @media (max-width: 767px){
        padding: 0 16px;
    }

    font-family: 'demi';
    color: colors.$bandsite-black;

    img{
        width: 100%;
    }

    h3{
        font-family: 'regular';
        font-size: 14px;
        color: colors.$bandsite-darkblack;
    }

    p{
        font-family: 'regular';
        font-size: 13px;
        padding-bottom: 16px 0;
        line-height: 18px;
    }

    .main__quote{
        font-family: 'demi';
        line-height: 22px;
    }

}

.gallery{
    @media (max-width: 767px){
        padding: 0 16px;
    }

    background-color: lighten(colors.$mercury,5%);
    font-family: 'demi';
    color: colors.$bandsite-black;

    h2{
        padding-top: 24px;
    }

    img{
        width: 100%;
        padding-bottom:16px;
    }

    &__img-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

footer{
    @media (max-width: 767px){
        padding: 0 16px;
    }

    font-family: 'regular';
    color: colors.$white;
    background-color: colors.$bandsite-black;

    h2{
        margin-top:0;
        padding-top: 24px;
    }

    img{
        width:1.5rem;
        height:1.5rem;
        padding-right: 16px;
        padding-bottom: 10px;
    }

    p{
        font-size: 13px;
        padding-bottom: 10px;
    }

    .footer__bold-text{
        font-family: 'demi';
    }

    .footer__copyright{
        font-size: 12px;
    }
}
