@font-face {
  font-family: "regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
body {
  margin: 0;
}

nav {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
  }
}
nav .nav__a {
  font-family: "regular";
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 50vw;
}
@media screen and (min-width: 768px) {
  nav .nav__a {
    padding: 1rem 2rem;
    width: 10rem;
  }
}
nav .nav__a--active {
  width: 6rem;
  border-bottom: 2px solid #FFFFFF;
  font-family: "demi";
}
nav .nav__logo {
  font-size: 24px;
  padding: 1rem 6rem;
  width: 100vw;
  max-width: 120px;
  max-width: 20px;
}
@media screen and (min-width: 768px) {
  nav .nav__logo {
    width: 10rem;
  }
}

.hero-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vw;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: absolute;
  z-index: -1;
}

.hero {
  height: 60vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(50, 50, 50, 0.5);
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 36px;
  }
}
.hero h2 {
  color: #FFFFFF;
  font-family: "demi";
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 6vw;
}
@media screen and (min-width: 768px) {
  .hero h2 {
    font-size: 7vw;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

main {
  padding: 0 16px;
  font-family: "demi";
  color: #323232;
}
@media screen and (min-width: 768px) {
  main {
    padding: 0 36px;
  }
}
main h2 {
  font-size: 5vw;
}
main img {
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  main img {
    padding: 0 48px;
  }
}
main h3 {
  font-family: "regular";
  font-size: 14px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  main h3 {
    padding: 0 48px;
    padding-top: 36px;
    font-family: "demi";
    font-size: 24px;
  }
}
main .main__bio {
  font-family: "regular";
  font-size: 13px;
  padding-bottom: 16px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  main .main__bio {
    width: 48%;
    box-sizing: border-box;
  }
}
main .main__bio-part-one {
  margin-right: 24px;
}
main .main__bio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  main .main__bio-container {
    padding: 0 48px;
  }
}
main .main__quote {
  font-size: 13px;
  padding-bottom: 16px;
  line-height: 18px;
  font-family: "demi";
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  main .main__quote {
    padding: 0 48px;
    box-sizing: border-box;
  }
}

.gallery {
  padding: 0 16px;
  background-color: #eeeeee;
  font-family: "demi";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 36px;
  }
}
.gallery h2 {
  padding-top: 24px;
  font-size: 5vw;
}
.gallery img {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery img {
    width: 27vw;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}
.gallery__img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  padding: 0 16px;
  font-family: "regular";
  color: #FFFFFF;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 0 36px;
  }
}
footer h2 {
  margin-top: 0;
  padding-top: 24px;
  font-size: 5vw;
}
footer img {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 16px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer__svg-container {
    position: relative;
    bottom: 9vh;
    left: 35vw;
  }
}
footer p {
  font-size: 13px;
  padding-bottom: 10px;
}
footer .footer__bold-text {
  font-family: "demi";
}
footer .footer__copyright {
  font-size: 12px;
  padding-bottom: 24px;
}
footer .footer__logo {
  font-size: 4vw;
  position: relative;
  left: 70vw;
  bottom: 42.5vh;
}
@media screen and (min-width: 768px) {
  footer .footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=bio.css.map */